// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/



/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  --ion-background-color:#000000;

  /** secondary **/
  --ion-color-secondary: #3880ff;
  --ion-color-secondary-rgb: 56, 128, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #3171e0;
  --ion-color-secondary-tint: #4c8dff;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

ion-card-title {
  background: -webkit-linear-gradient( #FFF,#f6f6f6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  h1 {
    font-size: 42px;
  }
}

ion-icon{
 
  margin-top:10px;
}

ion-card-subtitle{
  color:#939495 !important;

}

ion-card-content, ion-label, ion-menu-button, ion-icon, ion-title, ion-item{
  color:#d6d6d6 !important;
}

ion-button{
--color:#fff;
--background:rgba(0,0,0,0);
--background-focused:rgb(17, 17, 17) !important;
--border-color: #FFF!important;
--border-width: 1.5px !important;
--border-radius: 60px !important;
--padding-bottom:17px; 
--padding-end:17px; 
--padding-start: 17px; 
--padding-top:17px; 
--ripple-color :#FFF;
--color-activated :#FFF ;

margin:20px;

}

ion-list-header{
  padding:10px;
}

ion-card{
 background-color:rgb(17, 17, 17) !important;
}

ion-label{
  text-transform: capitalize;
}

.header-md:after {
  background-image: none;
  }


ion-card-title{
  font-family: 'SourceSansPro-Regular';
}


  ion-input{
    --color:#FFF !important;
    --background :rgba(0,0,0,0)!important;
    --placeholder-color:#FFF !important;
  }

  * {
    font-family: 'SourceSansPro-Light';
    color: #fff !important;

  }

  
.toast-container{
  background:rgba(24,24,24,1) !important;
}

.toast-md .toast-message{
  color: #fff  !important;
}




.card-cover-subtitle{
  z-index:1;
  position:inherit;
  top:0px;
  padding:5px;
  

 
}


ion-toolbar{
  --background: #000;
}

.card-cover-title{
  z-index:1;
  position:inherit;

  
 
}

.item-native{
  border-style: none;
}

.card-cover-content{
  z-index:1;
  position:inherit;
  top:20%;
  padding:40px;

background: rgb(2,0,36)  !important;;
background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(0,0,0,0.6082420694864048) 51%, rgba(0,212,255,0) 100%)  !important;;
 
}

.card-cover-img{
  
  -webkit-filter: grayscale(40%); /* Safari 6.0 - 9.0 */
  filter: grayscale(40%);
  filter:brightness(10%);
  filter: blur(1px);
  object-fit: cover;
position:absolute;
width:100%;
height:100%;



}

  ion-label.small-label{
    padding:15px;

    font-size:24px;
    text-transform:capitalize;
  }


  ion-segment {
    display:inline-block;
    width:100% !important;
    height:auto !important;
  }

  
  ion-alert{
    --ion-overlay-background-color: rgb(24,24,24) !important;
    background: rgb(24,24,24) !important;
    color:#fff  !important;
  }

 .sc-ion-alert-md{
    color:#fff  !important;
  }

  ion-textarea{
    background: rgb (24,24,24) !important;
    color: #fff !important;
    border-bottom: 1px solid #fff;
  }



  .parallax-img { 
    /* The image used */
   // background-image: url("img_parallax.jpg");
  
    /* Full height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .singleImageViewContainer{
    position:relative;
  }
  
  .detailViewTitle{
    position: relative;
    top:0px;

  }

  .singleViewContent{
    position: relative;
  }

  .singleViewDescription{
    position:relative;
    top: 30px;
    padding:10px;

  }

  /* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.top-left{
  position: absolute;
  top: 0px;
  left: 10px;

}

ion-tab-bar {
  border-top: 1px solid white;
}